* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
  background-color: white;
  overflow: auto; /* IMPORTANT - fixes inability to scroll in MS Office embedded web browser */
}
#ds-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white url("../img/background.jpg") no-repeat center;
  background-size: cover;
}
#topbars {
  text-align: center;
  color: white;
  background-color: #20558a;
  padding: 0.5em;
  font-size: 1.2em;
}
/* MAIN CONTENT */
main {
  flex: 1;
  padding: 1.5em 2em 4em 2em;
  margin: 0 auto;
  max-width: 740px;
}
h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#header {
  margin: 0 0 10px;
}
/* Accordions */
.accordion {
  margin: 0 0 10px;
  padding: 0;
  background-color: white;
}
.accordion.closed .accordion-content {
  display: none;
}
.accordion-title {
  position: relative;
  margin: 0;
  padding: 1em;
  background-color: #444;
  color: white;
}
.accordion.closed .accordion-title {
  cursor: pointer;
}
.accordion-title::after {
  content: "\25B2";
  display: block;
  position: absolute;
  right: 1em;
  top: 18px;
  font-size: 1.4em;
  transition: all 0.35s ease 0s;
}
.accordion.closed .accordion-title::after {
  transform: rotateX(180deg);
}
.accordion-content {
  border: 2px solid #bbb;
  border-top: none;
  margin: 0;
  padding: 0;
}
/* Choices */
#find_choice {
  margin-bottom: 2em;
}
#idpSelectSelectButton,
#idpSelectListButton {
  cursor: pointer;
}
#idpSelect-container {
  min-height: 160px;
  position: relative;
}
#idpSelect {
  margin-left: 1em;
}
.choice_row {
  display: block;
}
.choice_row ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: 0;
  padding: 0;
}
.choice_row li {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.choice_row li a {
  flex: 1;
  display: block;
  padding: 2em;
}
#common_choices_box .choice_row li:nth-child(odd) {
  background-color: #f2f2f2;
}
div.idp_img {
}
div.idp_text {
}
.choice_row img {
  width: auto;
  max-height: 50px;
}
button.long-button {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  width: 260px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-align: center;
}
#ds-footer {
  padding: 2em 3em;
  border-bottom: 1px solid #20558a;
  background-color: #414141;
  color: #ccc;
  font-size: 0.9em;
}
#ds-footer p {
  max-width: 584px;
  margin: auto;
}